<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h3>Contacts</h3>
      <p>oculusnovalk&#64;gmail.com</p>
    </div>
    <div class="footer-section">
      <h3>Address</h3>
      <p>435 Galle Road, Colombo 00300</p>
    </div>
    <div class="footer-section">
      <h3>Socials</h3>
      <div class="social-icons">
        <span>
          <a href="https://www.instagram.com/app.nova_lk/profilecard/?igsh=MWF2MmdrYjJ6OGE4MA==" aria-label="Instagram"
            target="_blank">
            <img src="Icons/Instagram Icon.png" alt="Instagram Logo">
          </a>

          <a href="https://www.linkedin.com/in/oculus-nova-939938342?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BuflOXEu9SbOOYUSaCeOUKA%3D%3D"
            aria-label="LinkedIn" target="_blank">
            <img src="Icons/LinkedIn Icon.png" alt="LinkedIn Logo">
          </a>
        </span>

      </div>

    </div>
    <div class="footer-logo">
      <a href="#">
        <img src="Images/Logo Icon with Words.png" alt="Oculus Nova Logo">
      </a>

    </div>
  </div>

  <div class="footer-bottom text-center">
    <p>&copy; 2024 Oculus Nova. All rights reserved.</p>
  </div>
</footer>