<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h3>Contacts</h3>
      <p>work adress</p>
      <p>strava address</p>
    </div>
    <div class="footer-section">
      <h3>Address</h3>
      <p>435 Galle Road,</p>
      <p>Colombo 00300</p>
    </div>
    <div class="footer-section">
      <h3>Social</h3>
      <p><a href="#">Instagram</a></p>
      <p><a href="#">LinkedIn</a></p>
    </div>
    <div class="footer-logo">
      <img src="Images/Logo Icon with Words.png" alt="Oculus Nova Logo" />
    </div>
  </div>
</footer>
