<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
<div class="hero">
    <div class="logo-container">
        <img src="Images/Logo Icon Only.png" alt="Oculus Nova Logo" class="logo">
    </div>
    <h1 class="title">Oculus Nova</h1>
    <p class="subtitle">
        Transforming vision therapy into an engaging and immersive experience, empowering children to improve their
        sight while having fun.
        Coming soon to redefine how they see the world.
    </p>
    <div class="button-container">
        <button class="btn primary" href="#underDevelopmentScreen">Go to app</button>
        <button class="btn secondary" (click)="scrollToFooter()">Contact us</button>
    </div>
</div>