/* General Reset */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hero Section */
.hero {
  /* margin-top: 180px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(to bottom, #004AAD, #000710, #01001F);
  color: white;
  /* padding: 20px; */
}

/* Logo Styling */
.logo-container {
  margin-bottom: 20px;
}
.logo {
  margin-top: 140px;

  width: 250px;
  height: auto;
  
}

/* Title Styling */
.title {
  font-size: 3rem;
  margin: 10px 0;
  margin-bottom:30px;
  font-weight: 600;
  color: #e0e0e0;
  text-align: center;
  font-family: montserrat;
  font-size: 96px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 96px */
  letter-spacing: -2.88px;
  background: linear-gradient(146deg, #ECECEC 20.35%, rgba(236, 236, 236, 0.00) 128.73%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  flex-shrink: 0;
  align-self: stretch;
}

/* Subtitle Styling */
.subtitle {
  /* font-size: 1.2rem;
  margin: 20px 0;
  max-width: 600px;
  color: #b0b0b0;
  line-height: 1.5; */
  padding:20px;
  display: flex;
  max-width: 878px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: rgba(236, 236, 236, 0.65);
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 38.4px */
}

/* Button Styling */
.button-container {
  margin-top: 30px;
  display: flex;
  gap: 15px;
}

.btn {
padding: 10px 20px;
border: none;
border-radius: 20px;
font-size: 1rem;
cursor: pointer;
transition: background-color 0.3s ease, color 0.3s ease;
color: #0B081C;
font-family: Montserrat;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 22.5px */
}

.btn.primary {
  background: white;
  color: #000000;
}

.btn.primary:hover {
  background: #d2d2d2;
}

.btn.secondary {
  background: transparent;
  color: white;
  border: 1px solid white;
}

.btn.secondary:hover {
  background: white;
  color: #000000;
}

.modal-header {
  border-bottom: none;
}

.modal-content {
  /* color: #004AAD;
  border: 5px solid #004AAD; */

  background: #004AAD;

}
.row img {
  max-width: 125px;
}

