<!-- Navbar Component -->
<nav class="navbar">
    <img src="Images/Logo Words Only.png" class="logo" alt="Logo">
    <ul class="nav-links">
        <li><a href="#features">Features</a></li>
        <li><a href="#pricing">Pricing</a></li>
        <li><a href="#aboutUs">About Us</a></li>
        <li><a href="#contactUs" class="contact-us">Contact Us</a></li>
        <li><a href="#goToApp" class="go-to-app">Go to app</a></li>
    </ul>
    <div class="burger">
        <div></div>
        <div></div>
        <div></div>
    </div>
</nav>