/* Navbar Styling */
.navbar {
    display: flex; /* Align elements horizontally */
    height: 80px;
    padding: 0px 32px;
    justify-content: space-between; /* Space out logo and links */
    align-items: center; /* Vertically center content */
    background-color: #003b88;
}

/* header.scrolled {
     opacity: 0.8; 
} */

header nav.navbar {
    transition: color 0.4s ease-in-out;
}

header.scrolled nav.navbar {
    background-color: #0B0121;} /* Change background color on scroll


/* Logo Styling */
.logo {
    height: 25px; /* Adjust height as needed */
    width: auto;  /* Maintain aspect ratio */
}

/* Navigation Links Styling */
.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    gap: 16px;
    transition: all 0.3s ease; /* Smooth transition for burger menu */
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    transition: all 0.3s ease;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
}

.nav-links a.go-to-app {
    background-color: white;
    color: #0B0121;
    border-radius: 20px;
}

.nav-links a:hover {
    cursor: pointer;
    background-color: #000d47;
    border-radius: 20px;
}

.nav-links .go-to-app:hover {
    background-color: #c7c7c7;
    border-radius: 20px;
}

/* Burger Icon Styling */
.burger {
    display: none; /* Hidden by default on large screens */
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

/* Animations for the burger menu */
.burger.active div:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.burger.active div:nth-child(2) {
    opacity: 0;
}

.burger.active div:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/* Responsive Navbar */
@media (max-width: 768px) {
    .nav-links {
        display: flex;
        flex-direction: column;
        background-color: #0B0121; /* Adjusted color */
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        padding: 1rem 0;
        transform: translateY(-20px);
        opacity: 0;
        visibility: hidden; /* Make the dropdown hidden initially */
        transition: transform 0.3s ease, opacity 0.3s ease;
        z-index: 1000;
    }

    .nav-links.active {
        transform: translateY(0);
        opacity: 1;
        visibility: visible; /* Show the dropdown when active */
    }

    .burger {
        display: block;
        cursor: pointer;
    }


}
