<section class="launching-soon">
    <div class="content">
        <h1>Launching<br>soon</h1>
        <p class="description">
        Vision therapy doesn’t have to feel like a chore. We created Oculus Nova to ensure that treatment is engaging, effective, and tailored to your child’s unique needs. We can’t wait to help you transform therapy with Oculus Nova!
        </p>
        <div class="social">
        <span>
            <p>GET SOCIAL</p>
            <hr>
            <a href="https://www.instagram.com/app.nova_lk/profilecard/?igsh=MWF2MmdrYjJ6OGE4MA==" class="icons">
                <img src="Icons/Instagram Icon.png" alt="Instagram Logo">
            </a>
            <a href="https://www.linkedin.com/in/oculus-nova-939938342?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BuflOXEu9SbOOYUSaCeOUKA%3D%3D" class="icons">
                <img src="Icons/LinkedIn Icon.png" alt="LinkedIn Logo">
              </a>
        </span>
        
        </div>
    </div>
    <div class="logo">
        <img src="Images/Logo Icon with Words.png" alt="Oculus Nova Logo">
    </div>
</section>
  