<div class="calibration-container" *ngIf="!isLearnMoreMode">
  <div class="header-container">
    <h2>🎨 Fun Calibration Time! 🎮</h2>
    <button class="learn-more" (click)="toggleView()">
      <span class="circle" aria-hidden="true">
        <span class="icon arrow"></span>
      </span>
      <span class="button-text">Learn More</span>
    </button>
  </div>
  <p>Resize the rectangle to match your credit card! Drag the orange dot! 🖱️</p>

  <div class="rectangle" [ngStyle]="{'width.px': rectangleWidth, 'height.px': rectangleHeight}">
    <div class="resizer" (mousedown)="startResizing($event)"></div>
  </div>
  <button class="btn btn-primary" (click)="saveCalibration()">✅ Save Calibration</button>
</div>

<div *ngIf="isLearnMoreMode">
  <button class="learn-more" (click)="toggleView()">
    <span class="circle" aria-hidden="true">
      <span class="icon arrow"></span>
    </span>
    <span class="button-text">Calibration</span>
  </button>
</div>