<div class="d-flex flex-column justify-content-center align-items-center vh-100">
  <!-- Current letter size display -->
  <div class="container g-4 ms-5 me-5 pt-3" style="background-color: #D3D3D3;">
    <div class="row justify-content-center">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6 col-xxl-5">
        <div class="card border border-light-subtle rounded-4">
          <div class="card-body p-3 p-md-4 p-xl-5" style="background-color: #D3D3D3;">
            <div class="row">
              <div class="col-12">
                <div class="mb-5">
                  <p class="text-center mb-4" [style.fontSize.px]="finalLetterHeight">
                    <b *ngFor="let letter of currentLetters; let i = index" class="me-5">{{ letter }}</b>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Instruction text before the input form -->
  <p class="text-center mb-5">Type the letters displaying in the board:</p>

  <!-- Input form for user letters -->
  <form (ngSubmit)="onSubmit()">
    <div class="input-form">
      <input
        *ngFor="let letter of inputLetters; let i = index; trackBy: trackByFn"
        maxlength="1"
        [(ngModel)]="inputLetters[i]"
        name="letter{{ i }}"
        class="input"
        type="text"
        placeholder=" "
      />
    </div>

    <div class="mt-3 text-center">
      <button type="submit" class="btn btn-primary">Check Letters</button>
    </div>
  </form>
</div>
