<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">

<div class="team-container">
    <h1 class="team-title">The Oculus Nova Team</h1>
    <div class="team-photo">
      <img src="Images/Team Photo.png" alt="Oculus Nova Team" />
    </div>
    <div class="team-members">
      <span>Ahilesh Umaiyone</span>
      <span>Stravakske Fernando</span>
      <span>Mithila Abhayasinghe</span>
      <span>Glen Henry Richard</span>
      <span>Pavithran Francis</span>
      <span>Balasubramanium Limesh</span>
    </div>
  </div>
  
