.team-container {
  text-align: center;
  background-color: #020021;
  color: #fff;
  padding: 20px;
  display: flex;
  padding: 30px 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.team-title {
  display: flex;
  max-width: 634px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.80);
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Montserrat;
  /* font-size: 48px; */
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 62.4px */
  margin-bottom: 20px;
  margin-top: 50px;

}

.team-photo img {
  width: 80%;
  border-radius: 10px;
  flex-shrink: 0;
  margin-bottom: 20px;
  
}

.team-members {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Two rows with three names per row */
  gap: 40px 150px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.team-members p {
  margin: 0;
  padding: 5px 15px;
  background-color: #333;
  border-radius: 5px;
  font-size: 1em;
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Montserrat;
}

/*Change padding for mobile phones*/
@media (max-width: 768px) {
  .team-members {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Two rows with three names per row */
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  
  .team-members p {
    margin: 0;
    padding: 5px 15px;
    background-color: #333;
    border-radius: 5px;
    font-size: 1em;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Montserrat;
  }
} 
